<!DOCTYPE html>
<html lang="{{ site.lang | default: 'es' }}" class="scroll-smooth" x-data="darkMode()" x-init="init()"
  :class="{ 'dark': isDark }">
{% include head.html %}

<body
  class="bg-secondary text-text font-body antialiased transition-colors duration-300 dark:bg-dark-secondary dark:text-dark-text">
  {% include header.html %}

  <main>
    {{ content }}
  </main>

  {% include footer.html %}
  {% include cta.html %}
  {% include cookie-consent.html %}


  <!-- Alpine.js -->
  <script defer src="/assets/js/alpine.min.js"></script>
</body>

</html>